
@import url(https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap);

html {
    scroll-behavior: smooth;
}

body {
    font: normal 18px/22px "Valera Round", sans-serif;
}

h1, h2, h3 {
    font-family: "Playwrite AU NSW", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
}

header {
    padding: 20px;
    box-shadow: 0px 0px 25px 10px rgba(198, 0, 4, 0.6);
}

#characterImg {
    padding: 5px;
}

img {
    object-fit: contain;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 30px;
}

::-webkit-scrollbar-thumb {
background: #d27979;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #430a0a;
}

.scrollContainer {
    margin: 5px 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(128, 0, 0, 0.5);
    width: 500px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0px 0px 21px 7px rgba(198, 0, 4, 0.6);
}

li {
    padding-left: 10px;
}